<div>
    {{#each responseFromAPI}}
    <p>
        {{this.name}}
        {{this.image_url}}
        {{this.description}}
        {{this.tagline}}
        {{this.food_pairing}}
        {{this.brewers_tips}}
    </p>
    {{/each}}
</div>